:root {
  --background: #FEFEFE;
  --foreground: #171717;

  /* Colors */
  --primary-color: #4361EE;
  --secondary-color: #A9D0FF; /* #BFBFFC */
  --action-color: #DDE3FF;
  --grey-color: #EAEAEA;
  --white-color: #FFFFFF;
  --black-color: #282828;

  /* Typo */
  --text-color: #000000;
  --grey-text-color: #505050;
  --jakarta: 'Jakarta', sans-serif;
  --jakarta-bold: 'Jakarta', sans-serif, bold;
  --font-jakarta: 12px;
  --font-h1: 48px;
  --font-h2: 38px;
  --font-h3: 28px;
  --font-h4: 18px;
  --font-h5: 16px;
  --font-text: 14px;
  --font-bold-text: 14px;

  /* Grid */
  --white-background-grid: #FFFFFF;

}

.jakarta {
  font-size: var(--font-jakarta);
}

h1,
.h1 {
  font-size: var(--font-h1);
  font-family: var(--jakarta)
}

/* h1, */
.h1_underlined {
  font-size: var(--font-h1);
  font-family: var(--jakarta);
  text-decoration: underline;
}

h2,
.h2 {
  font-size: var(--font-h2);
  font-family: var(--jakarta)
}

h3,
.h3 {
  font-size: var(--font-h3);
  font-family: var(--jakarta)
}

h4,
.h4 {
  font-size: var(--font-h4);
  font-family: var(--jakarta)
}

.text {
  font-size: var(--font-text);
  font-family: var(--jakarta)
}

.text_primary_underlined {
  font-size: var(--font-h4);
  font-family: var(--jakarta);
  color: var(--primary-color);
  text-decoration: underline;
}

.bold-text {
  font-size: var(--font-bold-text);
  font-family: var(--jakarta);
  font-weight: bold;
}

.title {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}


/* GRID */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  padding: 20px;
  /* background-color: var(--grey-color); */
  border-radius: 10px;
}

.grid-item-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 15px;
  background-color: var(--white-background-grid);
  border: 1px solid var(--grey-color);
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.grid-item-box #image-grid-box {
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.grid-item-box #category-grid-box {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.grid-item-box #title-grid-box {
  margin-bottom: 1rem;
}

.grid-item-box #description-grid-box {
  color: var(--grey-text-color);
  margin-bottom: 1rem;
}

.grid-item-box #button-grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* CHECKBOX */
.checkbox-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.checkbox {
  width: 30px;
  height: 30px;
  background-color: #6366f1;
  border-radius: 4px;
  border: 2px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.checkbox-item p {
  margin-left: 15px;
}


/* RESPONSIVE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  --background: #ffffff;
  --foreground: #000000;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* section {
  padding: 2rem;
} */

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}